:root {
  --color-white: #faf8ff;
  --color-black: #474554;
  --color-black-bold: #000000;
  --color-pink: #ffe8f7;
  --color-orange: #ffdfca;
  --color-yellow: #ffe694;
}

/* Navbar Styles */

.navbar{
    background-color: var(--color-white);
    color: var(--color-black);
}
.link {
  color: var(--color-black); /* color from index.css*/
  font-size: 18px;
}

.link:hover {
  color: var(--color-black-bold); /* color from index.css*/
  transition: all 0.3s;
}
